03_Data
*.pkl
forest_area_3.pkl
forest_area_3_03_2024.pkl
optimization_results.pkl
optimization_results_03_2024.pkl
01_Notebooks/Pokemon.csv
01_Notebooks/test.ipynb
PokemonData.csv
01_Notebooks/programming_exercises.ipynb
forest_area_3_05_2024.pkl
optimization_results_04_2024.pkl
optimization_results_05_2024.pkl
pickled_files.zip
