/Bestand1.dbf
/Bestand1.shp
/Bestand1.shx
/Bestand1.tif
/Bestand2.dbf
/Bestand2.shp
/Bestand2.shx
/Bestand2.tif
/Bestand3.dbf
/Bestand3.shp
/Bestand3.shx
/Bestand3.tif
/Bestand4.dbf
/Bestand4.shp
/Bestand4.shx
/Bestand4.tif
